/* ---------- WebApp ---------- */
/* ---------- Variables ---------- */
/* Image vertex color */
/* Integer vertex color */
/* Float vertex color */
/* Char vertex color */
/* Vertex position */
/* Vertex radius */
/* Vertex border */
/* Vertex sixe */
/* Shadow setup */
/* Block:hover shadow */
/* Selected block shadow */
/* ---------- END Variables ---------- */
/* line 38, interface.scss */
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 47, interface.scss */
body {
  font-family: sans-serif;
  font-size: 10px;
  cursor: default;
}

/* line 53, interface.scss */
#maindiv {
  height: 95vh;
  margin: 5px;
}

/* Vertex */
/* line 59, interface.scss */
.vertex {
  border: 1px solid #454545;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  position: relative;
  width: 10px;
  height: 10px;
}

/* line 68, interface.scss */
.vertex.in {
  float: left;
  left: -2px;
}

/* line 73, interface.scss */
.vertex.out {
  float: right;
  right: -2px;
}

/* line 78, interface.scss */
.vertex.image {
  background-color: #ff4141;
}

/* line 82, interface.scss */
.vertex.int {
  background-color: #009f00;
}

/* line 86, interface.scss */
.vertex.float {
  background-color: #6565ff;
}

/* line 90, interface.scss */
.vertex.char {
  background-color: #ffff9a;
}

/* line 94, interface.scss */
.lblock {
  opacity: 0.9;
  min-width: 100px auto;
  min-height: 100px auto;
  max-height: 150px;
  max-width: 150px;
  padding-top: 0px;
  position: relative;
  z-index: 1;
  float: left;
  display: inline-block;
  margin-right: 10px;
}

/* line 108, interface.scss */
.block {
  opacity: 0.9;
  min-width: 100px auto;
  min-height: 100px auto;
  max-height: auto;
  max-width: auto;
  padding-top: 0px;
  position: absolute;
  z-index: 1;
  cursor: default;
}

/* line 120, interface.scss */
.block:hover {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 2px #4ba8d1;
  -moz-box-shadow: 0px 0px 10px 2px #4ba8d1;
  box-shadow: 0px 0px 10px 2px #4ba8d1;
  z-index: 2;
}

/* line 128, interface.scss */
.pright {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 50px;
  margin-right: -4px;
  text-align: right;
}

/* line 136, interface.scss */
.pleft {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 50px;
  margin-left: -4px;
}

/* line 143, interface.scss */
.block img {
  max-height: 60px;
  max-width: 90px;
  margin: 5px;
}

/* line 149, interface.scss */
.selected {
  opacity: 1;
  -webkit-box-shadow: 0px 0px 10px 2px #fd7639;
  -moz-box-shadow: 0px 0px 10px 2px #fd7639;
  box-shadow: 0px 0px 10px 2px #fd7639;
  z-index: 2;
}

/* line 157, interface.scss */
#librarycontainer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: auto;
  z-index: 4;
}

/* line 165, interface.scss */
#librarytoggle {
  text-align: center;
}

/* line 169, interface.scss */
#librarybody {
  align-self: center;
  bottom: 0px;
  position: relative;
  background-color: white;
  width: 100%;
  height: 300px;
  display: none;
  cursor: default;
}

/* line 180, interface.scss */
.hend {
  z-index: 3;
  opacity: 0;
}

/*# sourceMappingURL=interface.css.map */
